.contactoTitle {
    font-size: 70px;
    color: #A27A3F;
    font-weight: 700;
    text-shadow: 2px 2px black;
    margin: 20px;
    text-align: center;
}

.contactoSubtitle {
    font-size: 50px;
    font-weight: 600;
    color: #A27A3F;
    text-shadow: 2px 2px black;
    margin: 20px;
    text-align: center
}

.contactoMain {
    background-image: url(../media/desierto.avif);
    background-size: cover;
    background-repeat: no-repeat;
}

.contactoTxt {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

.textoForm {
    @include textoSombreado;
    font-size: 20px;
    letter-spacing: 0.1em;

}