// HEADER - NAVBAR ------------------------------------------------------------------------------------------

@media (min-width: 1024px) {
  header {
    label {
      cursor: pointer;
      display: none;
    }

    .navBar a:hover {
      border-bottom: 4px solid #e7c084;
    }
  }

  .gridHijo3 a:hover {
    background-color: #e2b065;
  }
}

@media (max-width: 1024px) {
  header {
    label {
      display: inline;
    }

    .navBar {
      position: absolute;
      top: 100%;
      left: 0;
      right: 0;
      border: 1px solid rgb(0, 0, 0, 0.1);
      display: none;
      background-color: #90a057;

      ul {
        padding: 10px;

        li {
          width: 100%;
          padding: 10px;
          border: 2px solid #2e6021;
          border-radius: 14px;
          margin: 2px;
          text-align: center;
        }
      }
    }
  }

  #menuResponsive:checked~.navBar {
    display: initial;
  }
}



// FOOTER ------------------------------------------------------------------------------------------

@media (max-width: 600px) {

  footer {
    padding: 10px 0px;
    height: 90px !important;
  }

  footer .social a {
    color: inherit;
    font-size: 30px;
    width: 40px;
    height: 40px;
    line-height: 35px;
    display: inline-block;
    text-align: center;
    margin: 0px 10px;
  }

  footer .copyright {
    margin-top: 0px;
    font-size: 10px;
    text-align: center;
    opacity: 0.5;
    color: ghostwhite;
  }
}

// INDEX ------------------------------------------------------------------------------------------


@media (max-width: 1200px) {
  .gridHijo4 {
    .card {
      width: 40%;
      }
  } 

  .indexGridPadre {
    .gridHijo5 {
      .cardsTitle {
        h2 {
          margin-top: 2vw;
          font-size: 4vw;
          width: 100%;
        }
      }
    }
  }   
}

@media (max-width: 1024px) {
  main .indexGridPadre {
    grid-template-areas: "publi publi" "titulo titulo" "populares populares" "novedades novedades";
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 400px 100px 1fr 600px;
  }

  .gridHijo2 {
    display: none;
  }

  .indexGridPadre .gridHijo1 {
    h1 {
      font-size: 20px;
      margin-top: 15px;
      padding: 8px 8px 0px 8px;
      text-align: center;
    }

    p {
      font-size: 15px;
      font-weight: 400;
      margin-left: 15px;
      margin-bottom: 40px;
      padding: 0px 8px 8px 8px;
      margin-top: 50px;
      text-align: center;
    }
  }

  .card {
    h5 {
      font-size: 20px;
      padding: 10px;
    }

    .cardTxt p {
      display: none;
    }

    .cardPrecio {
      font-size: 18px;
      font-weight: bolder;
    }
  }

  .indexGridPadre .gridHijo5 .cardsTitle h2 {
    margin-top: 2vw;
    font-size: 4vw;
    width: 100%;
  }
}

@media (max-width: 600px) {
  main .indexGridPadre {
    grid-template-areas: "publi" "titulo" "populares" "novedades";
    grid-template-columns: 1fr;
    grid-template-rows: 400px 100px 1fr 600px;
  }

  .gridHijo2 {
    display: none;
  }

  .gridHijo4 .card {
    width: 100%;
    height: auto;

  }

  .card {
    h5 {
      font-size: 20px;
      padding: 10px;
    }
}

  .gridHijo4 .card .cardPrecio p {
    font-size: 35px;
    font-weight: bolder;
  }

  .indexGridPadre .gridHijo5 .cardsTitle h2 {
    margin-top: 2vw;
    font-size: 6vw;
    width: 90%;
  }

  .gridHijo3 {
    h3 {
      text-align: center;
      font-size: 40px;
      color: ghostwhite;
      padding: 25px 50px;
      line-height: 50px;
    }

    p {
      padding: 8px 40px;
      font-size: 22px;
      text-align: justify;
      color: ghostwhite;
      opacity: 0.8;
    }

    a {
      text-decoration: none;
      font-size: 28px;
      color: ghostwhite;
      background-color: #e7c084;
      border: 1px solid #76592E;
      margin-top: 35px;
      padding: 10px;
      border-radius: 14px;
    }
  }
}

// CONTACTO ------------------------------------------------------------------------------------------

@media (max-width: 480px) {
  .contactoTxt {
    order: -1;
  }

  .contactoContainer .formulario {
    width: 90%;

    form input {
      font-size: 2vh;
    }
  }

  .formulario form {

    label,
    textarea {
      font-size: 2vh;
    }
  }

  form {

    .formCommentLabel,
    .camposObligatorios {
      font-size: 2vh;
    }
  }

  .form .formulario .formButtons {
    justify-content: space-evenly;
  }

  form .formulario .formButtons input {
    font-size: 2vh;
  }

  .contactoTitle,
  .contactoSubtitle {
    text-align: center;
  }
}

@media (max-width: 1200px) {
  .contactoTxt {
    order: -1;
  }

  .contactoContainer .formulario {
    width: 90%;

    form input {
      font-size: 2.5vh;
    }
  }

  .formulario form {

    label,
    textarea {
      font-size: 2.5vh;
    }
  }

  form {

    .formCommentLabel,
    .camposObligatorios {
      font-size: 2.5vh;
    }
  }

  .form .formulario .formButtons {
    justify-content: space-evenly;
  }

  form .formulario .formButtons input {
    font-size: 2.5vh;
  }

  .contactoTitle,
  .contactoSubtitle {
    text-align: center;
  }
}


// FERIAS ------------------------------------------------------------------------------------------

@media (max-width: 1024px) {
  .feriasCardContainer {
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .horariosFormat {
      width: 70%;
    }
  }
}

@media (max-width: 480px) {
  .feriasCardContainer .horariosFormat {
    width: 90%;
  }

  .feriasIntro .feriasDesc {
    font-size: 2vh;
  }
}


// TIPS ------------------------------------------------------------------------------------------

@media (max-width: 480px) {
  .tipsVideo {
    max-width: 90%;
  }

  .mainTips {
    .tipsMainTitle {
      font-size: 2vh;
    }

    .tipsMainSubtitle {
      text-align: center;
      font-size: 3vh;
      text-decoration: underline;
      padding: 30px;
    }

    .tipsLista {
      width: 90%;

      ol li {
        padding: 3px;

        p {
          font-size: 1.5vh;
          line-height: 18px;
        }
      }
    }
  }

  .tipsVideo {
    display: inherit;
    align-items: center;
  }
}

@media (max-width: 1024px) {
  .tipsVideo {
    max-width: 90%;
  }

  .mainTips {
    .tipsMainTitle {
      font-size: 2.5vh;
    }

    .tipsMainSubtitle {
      text-align: center;
      font-size: 4vh;
      text-decoration: underline;
      padding: 30px;
    }

    .tipsLista {
      width: 90%;

      ol li {
        padding: 5px;

        p {
          font-size: 1.8vh;
        }
      }
    }
  }

  .tipsVideo {
    display: inherit;
    align-items: center;
  }
}


// TIENDA ------------------------------------------------------------------------------------------


@media (max-width: 1024px) {
  .tiendaCard {
    width: 40%;
  }
}

@media (max-width: 600px) {
  .tiendaCard {
    width: 90%;
  }
}