// IMAGEN DE FONDO ----------------------------------------

.mainTienda {
    background-image: url(../media/bg-pattern-tienda.webp);
}

// GRID -------------------------------------------------

.tiendaContainer {
    display: flex;
    justify-content: space-evenly;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

// GRID AREAS ---------------------------------------------

.prodClass1 {
    grid-area: prodClass1;
}

.tiendaProdCards1 {
    grid-area: prodCards1;
}

.prodClass2 {
    grid-area: prodClass2;
}

.tiendaProdCards2 {
    grid-area: prodCards2;
}

.tiendaContainer {
    grid-template-areas:
        "prodClass1 prodClass1 prodClass1"
        "prodCards1 prodCards1 prodCards1"
        "prodClass2 prodClass2 prodClass2"
        "prodCards2 prodCards2 prodCards2";
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 100px 1fr 100px 1fr;
}


// TITULO DE LA TIENDA -------------------------------

.tiendaTitle {
    display: flex;
    flex-direction: column;
    margin: 50px 50px;
    align-items: center;
    justify-content: center;
}

.tiendaTitle1 {
    margin: 30px 0px;

    h1 {
        color: #000000;
        font-weight: bold;
        font-size: 60px;
    }
}

.tiendaTitle2 {
margin: 15px 0px;

    h2 {
        color: #000000;
        font-weight: bold;
        font-size: 30px;
    }
}

// TITULO DE CADA GRUPO DE PRODUCTOS -------------------------------------

.prodClass1,
.prodClass2 {
    display: flex;
    align-items: center;
    justify-content: center;

    p {
        font-size: 5vh;
        font-weight: 800;
        color: #d6b27d;
        text-shadow: black 2px 2px;
    }
}

// CARDS DE PRODUCTOS ---------------------------------------------------

.tiendaProdCards1,
.tiendaProdCards2 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.tiendaCard {
    @include cardBase;

    .tiendaCardImg {
        max-width: 100%;

        img {
            width: 100%;
            object-fit: contain;
            border-top-right-radius: 15px;
            border-top-left-radius: 15px;
            border-bottom: 2px black solid;
        }
    }

    .tiendaCardTxt {
        height: 60px;

        h3 {
            @include cardProdName;
        }
    }



    .tiendaCardPrecio {
        margin-bottom: 30px;
        padding: 10px;
        font-weight: bolder;
        text-align: center;
        height: 60px;

        p {
            font-size: 2.5vh;
            padding-top: 10px;
        }
    }

    .tiendaCardBtn {
        border: 1px black solid;
        border-bottom-left-radius: 14px;
        border-bottom-right-radius: 14px;
        background-color: #2e6021;
        position: absolute;
        bottom: 0;
        padding: 5px;
        display: flex;
        justify-content: center;
        width: 100%;

        a {
            text-decoration: none;
            text-align: center;
            font-size: 20px;
            color: ghostwhite;
        }

        &:hover {
            background-color: #508d41;
        }
    }
}