.mainTips {
    background-image: url(../media/bg-pattern-hojas.webp);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.tipsMainTitle {
    text-align: center;
    font-size: 3.5vh;
    padding: 40px 15px;
}

.tipsMainSubtitle {
    text-align: center;
    font-size: 5vh;
    text-decoration: underline;
    padding: 30px;
}

.tipsLista {
    padding: 14px;
    margin: 20px;
    background-color: #A27A3F;
    border-radius: 10px;
    border: 2px solid #76592E;
    width: 68%;
    display: inherit;
    align-self: center;
    color: ghostwhite;

    ol {
        list-style: decimal;
        li p {
            text-align: left;
            font-size: 2.3vh;
            text-decoration: none;
            padding: 8px;
            line-height: 30px;
        }
    }
    
    
}

.tipsVideo {
    text-align: center;
    width: 100%;

    iframe {
        text-align: center;
        background-color: #A27A3F;
        border-radius: 10px;
        border: 2px solid #76592E;
        margin: 15px;
        padding: 14px;
        max-width: 100%;
    }
}
