@mixin textoSombreado {
    color: ghostwhite;
    font-weight: bold;
    text-shadow: black 2px 2px;
}

@mixin cardBase {
    width: 20%;
    height: auto;
    background-color: white;
    margin: 10px;
    border-radius: 15px;
    position: relative;
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.2);
}

@mixin cardProdName {
    margin: auto;
    font-size: 3.5vh;
    padding: 10px;
    text-align: center;
}